<div class="form-wrapper">
  <div class="card">
    <h2>User Details</h2>
    <form
      *ngIf="userExists; else noUserTemplate"
      [formGroup]="userForm"
      class="user-details"
    >
      <div class="p-fluid p-grid form-container">
        <div class="p-field fn">
          <label for="email">Email:</label>
          <p>{{ user?.email }}</p>
        </div>
        <div class="p-field fn">
          <label for="name">Name:</label>
          <input pInputText id="name" formControlName="name" />
        </div>
        <div class="p-field fn">
          <label for="organization_name">Organization Name:</label>
          <input
            pInputText
            id="organization_name"
            formControlName="organization_name"
          />
        </div>
        <div class="p-field fn">
          <label for="address">Address:</label>
          <input pInputText id="address" formControlName="address" />
        </div>
        <div class="p-field fn">
          <label for="city">City:</label>
          <input pInputText id="city" formControlName="city" />
        </div>
        <div class="p-field fn">
          <label for="state">State:</label>
          <input pInputText id="state" formControlName="state" />
        </div>
        <div class="p-col-12">
          <p-button
            *ngIf="!editMode"
            label="Edit"
            (click)="toggleEditMode()"
          ></p-button>
          <p-button
            *ngIf="editMode"
            label="Save"
            (click)="saveUserDetails()"
          ></p-button>
        </div>
      </div>
    </form>
    <ng-template #noUserTemplate>
      <div *ngIf="message">
        {{ message }}
        <p-button label="Add user-details" (click)="addDetails()"></p-button>
      </div>
    </ng-template>
  </div>
  <p-toast></p-toast>
</div>
